absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
alabaster
albucore
albumentations
alembic
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arviz
astropy
astropy-iers-data
astunparse
async-timeout
atpublic
attrs
audioread
autograd
babel
backcall
beautifulsoup4
bigframes
bigquery-magics
bleach
blinker
blis
blosc2
bokeh
Bottleneck
bqplot
branca
CacheControl
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
chex
clarabel
click
cloudpathlib
cloudpickle
cmake
cmdstanpy
colorcet
colorlover
colour
community
confection
cons
contourpy
cryptography
cufflinks
cvxopt
cvxpy
cycler
cymem
Cython
dask
databricks-sdk
datascience
db-dtypes
dbus-python
debugpy
decorator
defusedxml
Deprecated
diffusers
distro
dlib
dm-tree
docker
docker-pycreds
docstring_parser
docutils
dopamine_rl
duckdb
earthengine-api
easydict
editdistance
eerepr
einops
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
entrypoints
et_xmlfile
etils
etuples
eval_type_backport
exceptiongroup
fastai
fastcore
fastdownload
fastjsonschema
fastprogress
fastrlock
filelock
firebase-admin
Flask
flatbuffers
flax
folium
fonttools
frozendict
frozenlist
fsspec
future
gast
gcsfs
GDAL
gdown
geemap
gensim
geocoder
geographiclib
geopandas
geopy
gin-config
gitdb
GitPython
glob2
graphene
graphql-core
graphql-relay
graphviz
greenlet
grpc-google-iam-v1
grpcio
grpcio-status
gspread
gspread-dataframe
gunicorn
gym
gym-notices
h11
h5netcdf
h5py
holidays
holoviews
html5lib
httpcore
httpimport
httplib2
httpx
huggingface-hub
humanize
hyperopt
ibis-framework
idna
imageio
imageio-ffmpeg
imagesize
imbalanced-learn
imgaug
immutabledict
importlib_metadata
importlib_resources
imutils
inflect
iniconfig
intel-cmplr-lib-ur
intel-openmp
ipyevents
ipyfilechooser
ipykernel
ipyleaflet
ipyparallel
ipython
ipython-genutils
ipython-sql
ipytree
ipywidgets
itsdangerous
jax
jaxlib
jeepney
jellyfish
jieba
Jinja2
jiter
joblib
jsonpatch
jsonpickle
jsonpointer
jsonschema
jsonschema-specifications
jupyter-client
jupyter-console
jupyter-leaflet
jupyter-server
jupyter_core
jupyterlab_pygments
jupyterlab_widgets
kaggle
kagglehub
keras
keyring
kiwisolver
langchain
langchain-core
langchain-text-splitters
langcodes
langsmith
language_data
launchpadlib
lazr.restfulclient
lazr.uri
lazy_loader
libclang
librosa
lightgbm
linkify-it-py
llvmlite
locket
logical-unification
lxml
Mako
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
matplotlib-venn
mdit-py-plugins
mdurl
miniKanren
missingno
mistune
mizani
mkl
ml-dtypes
mlflow
mlflow-skinny
mlxtend
more-itertools
moviepy
mpmath
msgpack
multidict
multipledispatch
multitasking
murmurhash
music21
namex
narwhals
natsort
nbclassic
nbclient
nbconvert
nbformat
ndindex
nest-asyncio
networkx
nibabel
nltk
notebook
notebook_shim
numba
numexpr
numpy
nvtx
oauth2client
GDAL
oauthlib
openai
opencv-contrib-python
opencv-python
opencv-python-headless
openpyxl
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
opt_einsum
optax
optree
orbax-checkpoint
orjson
osqp
packaging
pandas
pandas-datareader
pandas-gbq
pandas-stubs
pandocfilters
panel
param
parso
parsy
partd
pathlib
patsy
peewee
peft
pexpect
pickleshare
pillow
platformdirs
plotly
plotnine
pluggy
ply
polars
pooch
portpicker
preshed
prettytable
proglog
progressbar2
prometheus_client
promise
prompt_toolkit
propcache
prophet
proto-plus
protobuf
psutil
psycopg2
ptyprocess
py-cpuinfo
py4j
pyarrow
pyasn1
pyasn1_modules
pycocotools
pycparser
pydantic
pydantic_core
pydata-google-auth
pydot
pydotplus
PyDrive
PyDrive2
pyerfa
pygame
pygit2
Pygments
PyGObject
PyJWT
pylibcugraph-cu12
pylibraft-cu12
pymc
pymystem3
pyngrok
pynvjitlink-cu12
pyogrio
Pyomo
PyOpenGL
pyOpenSSL
pyparsing
pyperclip
pyproj
pyshp
PySocks
pyspark
pytensor
pytest
python-apt
python-box
python-dateutil
python-louvain
python-slugify
python-utils
pytz
pyviz_comms
PyYAML
pyzmq
qdldl
ratelim
referencing
regex
requests
requests-oauthlib
requests-toolbelt
requirements-parser
rich
rmm-cu12
rpds-py
rpy2
rsa
safetensors
scikit-image
scikit-learn
scipy
scooby
scs
seaborn
SecretStorage
Send2Trash
sentence-transformers
sentencepiece
sentry-sdk
setproctitle
shap
shapely
shellingham
simple-parsing
six
sklearn-pandas
slicer
smart-open
smmap
sniffio
snowballstemmer
soundfile
soupsieve
soxr
spacy
spacy-legacy
spacy-loggers
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
sqlglot
sqlparse
srsly
stanio
statsmodels
StrEnum
stringzilla
sympy
tables
tabulate
tbb
tcmlib
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-datasets
tensorflow-hub
tensorflow-io-gcs-filesystem
tensorflow-metadata
tensorflow-probability
tensorstore
termcolor
terminado
text-unidecode
textblob
tf-slim
tf_keras
thinc
threadpoolctl
tifffile
timm
tinycss2
tokenizers
toml
tomli
toolz
tornado
tqdm
traitlets
traittypes
transformers
tweepy
typeguard
typer
types-pytz
types-setuptools
typing_extensions
tzdata
tzlocal
uc-micro-py
umf
uritemplate
urllib3
vega-datasets
wadllib
wandb
wasabi
wcwidth
weasel
webcolors
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
wordcloud
wrapt
xarray
xarray-einstats
xgboost
xlrd
xyzservices
yarl
yellowbrick
yfinance
zipp